# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json

# macOS
.DS_Store

# Editors
.vscode/
.idea/
